<html>
    <head>
        <link rel="stylesheet" href="home-css.css">
    </head>
<body>
    <div style="width: 96%;margin-top:100px">   
<form action="/bet" method="post">
    
    <label for="Money">Money</label><br/>
    <input type="text" placeholder="Amount" name="stake" required>
    <br/>
    <label for="Dice">Dice</label><br/>
    <input type="text" placeholder="Dice Number" name="number" required>

    <input type="submit" value="Bet">
    

</form>

</div>
 <div class="abc">
    <label for="Win">Win</label>
    <input type="text" placeholder="win" name="win" value = "<%= session[:win] %>" ><br>
    <label for="lost">Lost</label>
    <input type="text" placeholder="lost" name="lost" value = "<%= session[:lost] %>"><br>

    <label for="profit">Profit</label>
    <input type="text" placeholder="profit" value = "<%= session[:win] %> - <%= session[:lost] %>"><br><br>

</div>


<div style=padding-top:0px;margin-top:0px;width:96%>
<label for="total_win">Total Win</label>
<input type="text" placeholder="total_win" name="total_win" value = "<%= session[:total_win] %>">

<label for="total_lost">Total Lost</label>
<input type="text" placeholder="total_lost" name="total_lost" value = "<%= session[:total_lost] %>">

<label for="total_profit">Total Profit</label>
<input type="text" placeholder="total_profit" value =" <%= session[:total_win] %> - <%= session[:total_lost] %>">

</div>

<div style=margin-top:5px;width:5%;padding:0.5%;background-color:#ff8000;color:#ccc> 
<a href='/logout'>Logout</a>
</div>

</body>
</html>
